<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597436212473-lgtner9n5led02hk2ns7suloar25b3rb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597436212473-lgtner9n5led02hk2ns7suloar25b3rb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>597436212473-b55elqq7tfopv5e4lf4cpof4e3p4tm0f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBb0izwWXAAdj36gaM175RbNgT1GGQJHkA</string>
	<key>GCM_SENDER_ID</key>
	<string>597436212473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phonebooth.cabinApp</string>
	<key>PROJECT_ID</key>
	<string>phone-booth-c2cd7</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-booth-c2cd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597436212473:ios:c18c8755c962f21804ae28</string>
</dict>
</plist>